uv
pip
jupyterlab
ipykernel
pandas
tensorflow
folium
matplotlib
mapclassify
scikit-learn
rasterio
shapely
geopandas
seaborn
calplot
# SNP additions
cython
simple_slurm
waiting
# Kmers additions
line_profiler